<p></p>
<nav class="navbar navbar-default">
  <div class="container-fluid">
 <div class="navbar-header">
      <a class="navbar-brand">Cathalogue</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
      <li><a routerLink="/produits">Gestion des produits</a></li>
      <li><a routerLink="/categories">Gestion des categories</a></li>
      <li><a routerLink="/search">recherche de produit</a></li>
      <li><a routerLink="/authentification">Authentification</a></li>
    </ul>
  </li>
  </ul>
 <div class="jumbotron bg-info">
    <h1 class="display-4">Gestion des produits</h1>
 </div>
</div>
</nav>

